/* CONTENEDORES GENERALES */

#fixture-completo,
#partidos {
  margin-top: 12px;
}

#fixture-completo div {
  margin-bottom: 12px;
}

#fixture-completo h3 {
  margin: 0 0 6px;
  font-size: 1.1rem;
  color: #333;
}
